{% load static %}

<html>
<head>
    <title>Symbitimes</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" href="{% static 'css/newsapi.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse stick">
        <div class="navbar-header">
            <a href="index" class="navbar-brand" onclick="reload()">
                Symbitimes
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

            <div class="collapse navbar-collapse" id="menu">
                <form action="fetch_news">
                    <ul class="nav navbar-nav flex">
                        <button class="navitems" type="submit" value='general' id="general" name="search">General</button>
                        <button class="navitems" type="submit" value='business' id="business" name="search">Business</button>
                        <button class="navitems" type="submit" value='sports' id="sports" name="search">Sports</button>
                        <button class="navitems" type="submit" value='technology' id="technology" name="search">Technology</button></li>
                        <button class="navitems" type="submit" value='entertainment' id="entertainment" name="search">Entertainment</button>
                    </ul>
                </form>
                <div class="search-bar flex">
                    <form action="fetch_news">
                        <input id="search-text" name="search" type="text" class="news-input" placeholder="e.g. Science">
                        <button id="search-button" class="search-button" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="liveBlogSlider"> 
                <div class="liveLabel">Live</div> 
                <div class="liveBlogList"> 
                    <div class="liveBlogList__item"> 
                        <p> <a href="https://www.hindustantimes.com/cricket/rcb-vs-kkr-live-score-ipl-2024-match-10-royal-challengers-bengaluru-v-kolkata-knight-riders-chinnaswamy-stadium-march-29-101711701625301.html">RCB vs KKR IPL Live: Kohli bats through the innings, Bengaluru 182/6 in 20 overs</a> </p> 
                        <p> <a href="https://www.hindustantimes.com/india-news/mukhtar-ansari-death-news-live-uttar-pradesh-gangster-politician-dies-heart-attack-funeral-last-rites-latest-updates-101711685543987.html">Mukhtar Ansari news LIVE: Autopsy reveals heart attack as cause of death</a> </p> 
                        <p> <a href="https://www.hindustantimes.com/india-news/lok-sabha-election-2024-news-live-bjp-congress-candidates-nomination-india-general-elections-date-schedule-latest-update-101711674173322.html">Lok Sabha Elections Highlights: ‘Cong doing cheap politics’, says Kangana Ranaut</a> </p> 
                    </div> 
                </div> 
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <main>
                <div class="cards-container container flex" id="cards-container">
                    
                </div>
            </main>

            <template id="template-news-card">
                <div class="card">
                    <div class="card-header">
                        <img src="https://via.placeholder.com/400x200" alt="news-image" id="news-img">
                    </div>
                    <div class="card-content">
                        <h3 id="news-title">This is the Title</h3>
                        <h6 class="news-source" id="news-source">End Gadget 26/08/2023</h6>
                        <p class="news-desc" id="news-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe quis voluptatum quisquam vitae doloremque facilis molestias quae ratione cumque!</p>
                    </div>
                </div>
            </template>
        </div>


        <script>
            const API_KEY = "b91dfdd697b443388d9a86be657a50df";
            const url = "https://newsapi.org/v2/everything?q=";

            var None = null;
            const data = {{ news_data|safe }};
            
            const cardsContainer = document.getElementById("cards-container");
            const newsCardTemplate = document.getElementById("template-news-card");

            cardsContainer.innerHTML = "";

            data.forEach((article) => {
                if (!article.urlToImage) return;
                const cardClone = newsCardTemplate.content.cloneNode(true);
                fillDataInCard(cardClone, article);
                cardsContainer.appendChild(cardClone);
            });
            

            function fillDataInCard(cardClone, article) {
                const newsImg = cardClone.querySelector("#news-img");
                const newsTitle = cardClone.querySelector("#news-title");
                const newsSource = cardClone.querySelector("#news-source");
                const newsDesc = cardClone.querySelector("#news-desc");

                newsImg.src = article.urlToImage;
                newsTitle.innerHTML = article.title;
                newsDesc.innerHTML = article.description;

                const date = new Date(article.publishedAt).toLocaleString("en-US", {
                    timeZone: "Asia/Jakarta",
                });

                newsSource.innerHTML = `${article.source.name} · ${date}`;

                cardClone.firstElementChild.addEventListener("click", () => {
                    window.open(article.url, "_blank");
                });
            }
        </script>
        <div id="content" style="display: none;"></div>
    </body>
</html>
